In [1]:
import pandas as pd
import plotly.graph_objects as go
import numpy as np

In [2]:
month_map = {
    1: 'Jan.',
    2: 'Feb.',
    3: 'Mar.',
    4: 'Apr.',
    5: 'May.',
    6: 'Jun.',
    7: 'Jul.',
    8: 'Aug.',
    9: 'Sept.',
    10: 'Oct.',
    11: 'Nov.',
    12: 'Dec.'
}

In [3]:
df = pd.read_csv('../data/electricity_monthly.csv')
df.tail()
df['month'] = df['month'].apply(lambda x: month_map.get(x))

In [4]:
df = df.loc[(df['year_month'] >= '2016-04') & (df['year_month'] < '2019-10')]
df.tail()

,year_season,month_in_season,year_month,year,month,production_hydro,production_nuclear,production_therm_and_renewable,production_total,production_hydro_losses,production_total_netto,import,export,consumption_country,losses,consumation_final,import_export_balance
352,Summer<br>2019,2,2019-05,2019,May.,3139,2038,538,5715,384,5331,2055,2419,4967,356,4611,-364
353,Summer<br>2019,3,2019-06,2019,Jun.,4809,919,564,6292,601,5691,1724,2913,4502,302,4200,-1189
354,Summer<br>2019,4,2019-07,2019,Jul.,5074,2047,574,7695,428,7267,1210,3943,4534,339,4195,-2733
355,Summer<br>2019,5,2019-08,2019,Aug.,4819,1954,525,7298,338,6960,1185,3691,4454,329,4125,-2506
356,Summer<br>2019,6,2019-09,2019,Sept.,3057,2163,502,5722,386,5336,2154,2886,4604,322,4282,-732

In [5]:
production_therm_and_renewable = {
    'name': 'Therm. and Renewables',
    'type': 'bar',
    'x': [df['year_season'], df['month']],
    'y': df['production_therm_and_renewable'],
    'marker': {
        'color': '#c75b4f'
    } 
}

production_nuclear = {
    'name': 'Nuclear',
    'type': 'bar',
    'x': [df['year_season'], df['month']],
    'y': df['production_nuclear'],
    'marker': {
        'color': '#c7974f'
    } 
}


production_hydro = {
    'name': 'Hydro',
    'type': 'bar',
    'x': [df['year_season'], df['month']],
    'y': df['production_hydro'] - df['production_hydro_losses'],
    'marker': {
        'color': '#4f99c7'
    } 
}

consumption = {
    'name': 'Consumption',
    'x': [df['year_season'], df['month']],
    'y': df['consumption_country'],
    'mode': 'lines',
    'line_color': '#000000',
    'line': {
        'width': 3
    },
    'showlegend': False,py
}

consumption_point = {
    'name': 'Consumption Label',
    'x': [df['year_season'].iloc[-1], df['month'].iloc[-1]],
    'y': [df.consumption_country.iloc[-1]],
    'mode': 'markers',
    'marker': {
        'color': '#000000'
    },
    'showlegend': False,
    'hoverinfo': 'skip'
}



layout = {
    'barmode': 'stack',
    'title': 'Production Seasonal History',
    'plot_bgcolor': '#ffffff',
    'showlegend': True,
    'legend': {
        'orientation': 'h',
        'y': -0.4,
        
    },
    'margin': {
        'r': 250
    },
    'xaxis': {
        'showgrid': False,
        'showline': False,
        'color': '#a6a6a6',
        'dividercolor': '#EBECF0'
    },
    'yaxis': {
        'showgrid': True,
        'tickformat': ',.0f',
        'gridcolor': '#EBECF0',
        'showline': False,
        'color': '#a6a6a6'
    },
    'separators': ',\''
}

figdict = {
    'data': [production_therm_and_renewable, production_nuclear, production_hydro, consumption, consumption_point],
    'layout': layout
}



fig = go.Figure(**figdict)
fig.add_annotation(
    dict(
        font=dict(color="black",size=14),
        x=1,
        y=df.consumption_country.iloc[-1],
        textangle=0,
        xanchor='left',
        showarrow=False,
        text='<b>Total consumption</b>',
        yshift=2,
        xref='paper'
    )
)

fig.show()

SyntaxError: invalid syntax (2000441554.py, line 42)